<div class="row mar_none bg_color">

  <div class="col-sm pad_none mar_top scroll_css scrollbar-primary">
    <mat-card class="card_css">
      <div class="row row_mar">
        <div class="col-sm-3 right_pad_none">
          <label class="change_password">Change Password</label>
        </div>
      </div>
      <div class="row row_mar">
        <div class="col-sm-3 right_pad_none">
          <label class="lbl_cls">Old Password</label>
        </div>
        <div class="col-sm-9">
          <mat-form-field class="form_align padding_none" appearance="legacy">
            <input matInput type="password" value="password">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 right_pad_none">
          <label class="lbl_cls">New Password</label>
        </div>
        <div class="col-sm-9">
          <mat-form-field class="form_align padding_none" appearance="legacy">
            <input matInput type="password" value="newpassword">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 right_pad_none">
          <label class="lbl_cls">Confirm Password</label>
        </div>
        <div class="col-sm-9">
          <mat-form-field class="form_align padding_none" appearance="legacy">
            <input matInput type="password" value="newpassword">
          </mat-form-field>
        </div>
      </div>      
      <div class="row">
        <div class="col-sm text-right"><button mat-flat-button class="btn_margin" (click)="savePassword();">SAVE</button></div>
        <div class="col-sm text-left"><button mat-flat-button class="btn_margin" (click)="closePassword();">CANCEL</button></div>                
      </div>
    </mat-card>
  </div>
  <div class="col-sm rightside_padnone img_align">
    <app-img-holder></app-img-holder>
  </div>

</div>