<div class="row">
    <div class="col-sm slide_topcss">
        <section class="section slider">

            <div class="section__entry section__entry--center">
            </div>

            <input type="radio" name="slider" id="summary-1" class="slider__radio">
            <input type="radio" name="slider" id="summary-2" class="slider__radio">
            <input type="radio" name="slider" id="summary-3" class="slider__radio" checked>
            <input type="radio" name="slider" id="summary-4" class="slider__radio">
            <input type="radio" name="slider" id="summary-5" class="slider__radio">

            <div class="summary__holder">

                <label for="summary-1" class="summary__item summary__item--1 card">
                    <div class="summary__item-content border_topcssred">
                        <p class=" insuran_idcss">P-2018-000784</p>
                        <p class="insuran_typecss">Motor Comprehensive</p>
                        <p class="date_css">10/08/2018 to 10/09/2018</p>
                        <div class="row pad_topcss">
                            <div class="col-sm pad_none">
                                <a class="heading-3 link" routerLink="/mypolicypremium">Premium</a>
                                <p class="paid_css">Paid</p>
                            </div>
                            <div class="col-sm pad_none">
                                <a class="heading-3 link" href="">Claims</a>
                                <p class="paid_css">1</p>
                            </div>
                            <div class="col-sm pad_none">
                                <a class="heading-3 link" routerLink="/mypolicyrenew">Renew</a>
                                <p class="paid_css">0</p>
                            </div>
                            <div class="col-sm pad_none">
                                <a class="heading-3 link" href="">View Details</a>
                                <p class="paid_css">0</p>
                            </div>
                        </div>

                    </div>
                </label>
                <!-- summary__item -->

                <label for="summary-2" class="summary__item summary__item--2 card">
                    <div class="summary__item-content border_topcss">
                        <p class=" insuran_idcss">P-2018-000222</p>
                        <p class="insuran_typecss">Motor Comprehensive</p>
                        <p class="date_css">10/08/2018 to 10/09/2018</p>
                        <div class="row pad_topcss">
                            <div class="col-sm pad_none">
                                <a class="heading-3 link" routerLink="/mypolicypremium">Premium</a>
                                <p class="paid_css">Paid</p>
                            </div>
                            <div class="col-sm pad_none">
                                <a class="heading-3 link" href="">Claims</a>
                                <p class="paid_css">3</p>
                            </div>
                            <div class="col-sm pad_none">
                                <a class="heading-3 link" routerLink="/mypolicyrenew">Renew</a>
                                <p class="paid_css">0</p>
                            </div>
                            <div class="col-sm pad_none">
                                <a class="heading-3 link" href="">View Details</a>
                                <p class="paid_css">0</p>
                            </div>
                        </div>

                    </div>
                </label>
                <!-- summary__item -->

                <label for="summary-3" class="summary__item summary__item--3 card">
                    <div class="summary__item-content border_topcss">
                        <p class=" insuran_idcss">P-2018-000111</p>
                        <p class="insuran_typecss">Motor Comprehensive</p>
                        <p class="date_css">10/08/2018 to 10/09/2018</p>
                        <div class="row pad_topcss">
                            <div class="col-sm pad_none">
                                <a class="heading-3 link" routerLink="/mypolicypremium">Premium</a>
                                <p class="paid_css">Paid</p>
                            </div>
                            <div class="col-sm pad_none">
                                <a class="heading-3 link" href="">Claims</a>
                                <p class="paid_css">2</p>
                            </div>
                            <div class="col-sm pad_none">
                                <a class="heading-3 link" routerLink="/mypolicyrenew">Renew</a>
                                <p class="paid_css">1</p>
                            </div>
                            <div class="col-sm pad_none">
                                <a class="heading-3 link" href="">View Details</a>
                                <p class="paid_css">0</p>
                            </div>
                        </div>

                    </div>
                </label>
                <!-- summary__item -->

                <label for="summary-4" class="summary__item summary__item--4 card">
                    <div class="summary__item-content border_topcssred">
                        <p class=" insuran_idcss">P-2018-000785</p>
                        <p class="insuran_typecss">Motor Comprehensive</p>
                        <p class="date_css">10/08/2018 to 10/09/2018</p>
                        <div class="row pad_topcss">
                            <div class="col-sm pad_none">
                                <a class="heading-3 link" routerLink="/mypolicypremium">Premium</a>
                                <p class="paid_css">Paid</p>
                            </div>
                            <div class="col-sm pad_none">
                                <a class="heading-3 link" href="">Claims</a>
                                <p class="paid_css">2</p>
                            </div>
                            <div class="col-sm pad_none">
                                <a class="heading-3 link" routerLink="/mypolicyrenew">Renew</a>
                                <p class="paid_css">0</p>
                            </div>
                            <div class="col-sm pad_none">
                                <a class="heading-3 link" href="">View Details</a>
                                <p class="paid_css">0</p>
                            </div>
                        </div>

                    </div>
                </label>
                <!-- summary__item -->

                <label for="summary-5" class="summary__item summary__item--5 card">
                    <div class="summary__item-content border_topcss">
                        <p class=" insuran_idcss">Q-2018-000781</p>
                        <p class="insuran_typecss">Motor Comprehensive</p>
                        <p class="date_css">10/08/2018 to 10/09/2018</p>
                        <div class="row pad_topcss">
                            <div class="col-sm pad_none">
                                <a class="heading-3 link" routerLink="/mypolicypremium">Premium</a>
                                <p class="paid_css">Paid</p>
                            </div>
                            <div class="col-sm pad_none">
                                <a class="heading-3 link" href="">Claims</a>
                                <p class="paid_css">2</p>
                            </div>
                            <div class="col-sm pad_none">
                                <a class="heading-3 link" routerLink="/mypolicyrenew">Renew</a>
                                <p class="paid_css">1</p>
                            </div>
                            <div class="col-sm pad_none">
                                <a class="heading-3 link" href="">View Details</a>
                                <p class="paid_css">2</p>
                            </div>
                        </div>

                    </div>
                </label>
                <!-- summary__item -->

            </div>
            <!-- Slider Holder -->



        </section>
        <!-- Section Slider -->
    </div>
</div>