<div class="container text-center" *ngIf="header==='card'">
  <app-modal-card [cardDetails]="data"></app-modal-card>
</div>
<div class="container text-center" *ngIf="header==='buyplan'">
  <app-modal-buyplan [buyplanDetails]="data"></app-modal-buyplan>
</div>
<div class="container text-center" *ngIf="header==='video'">
  <app-modal-video [videoDetails]="data"></app-modal-video>
</div>
<div class="container text-center check" *ngIf="header==='buynewpolicy'">
  <app-modal-buynewpolicy [buynewpolicyDetails]="data"></app-modal-buynewpolicy>
</div>