<div class="card margintop20">
    <mat-tab-group>
        <mat-tab label="VEHICLE DETAILS"> 
          <div class="padding10px">
              Vechile Details
          </div>
        </mat-tab>
        <mat-tab label="PERSONAL DETAILS">          
          <div class="padding10px">
            Personal Details
        </div>
      </mat-tab>
        <mat-tab label="UPLOAD DOCUMENT">         
           <div class="padding10px">
           upload document
        </div>
      </mat-tab>
        <mat-tab label="COVERAGE & PREMIUM">
            <div class="padding10px">
               Coverage & Premium
             </div>
        </mat-tab>
      </mat-tab-group>
</div>