<div class="card margintop20">
    <mat-tab-group>
        <mat-tab *ngFor="let item of userDetailPreview" label="{{item.tab}}">
            <div class="padding10px row">
                <div *ngFor="let subItem of item.data" class="col-sm-4">
                    <div>
                        <div class="labettext_css">{{subItem.label}}</div>
                        <p class="valuetext_css">{{subItem.value}}</p>
                    </div>

                </div>

            </div>
        </mat-tab>
    </mat-tab-group>
</div>