.logo_center{
    margin-top: 10px;
}
.bg_loginlogo_css{
    margin-top: 85px;
    background-color: #fff;
}
.bg_loginbodycss{
    padding-top: 10px;
    text-align: center;
    background-color: #45A175;
}
.login_btncss{
    background-color: #154979;
    font-size: 14px;
    padding: 10px 35px 10px 35px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.pad_none{
    padding-left: 0;
    padding-right: 0;
}
.forgot_textcss{   
    text-align: left;
    /* margin-left: 15px; */
    color: #fff;
    font-family: Nunitosanssemibold;
    margin-top: 10px;
}
.remember_textcss{   
    text-align: left;
    color: #fff;
    
}
.rememberfont_css{
    font-family: Nunitosanssemibold !important;
}

.user_iconstyle{
    width: 25px;
    height: 25px;
}
.text_boxwidth{
    width: 70%;
}
.mar_spacecss{
    margin-right: 10px;
}
.otp_btncss{
    background-color: #154979;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin: 5px;  
}
.signup_btncss{
    background-color: #154979;
    font-size: 14px;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    margin-bottom: 10px;    
}
.social_iconcss{
    margin-right: 10px;
}
.radio_btncss{
    color: #fff;
}

::ng-deep .mat-form-field-label{
    color: #fff !important;
    font-weight: 100 !important;
}
::ng-deep .mat-form-field-underline {
    background-color: #fff !important;;
}
::ng-deep .mat-form-field-ripple {
    background-color: #fff !important;
}

