<div class="row mar_none">

  <div class="col-sm pad_none scroll_css scrollbar-primary">
    <div class="pad_bottomcss">
      <app-mypolicyquotedetail></app-mypolicyquotedetail>
    </div>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Vehicle Details
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div *ngFor="let item of vehicleDetailPreview" class="col-sm-4">
            <div class="labettext_css">{{item.label}}</div>
            <p class="valuetext_css">{{item.value}}</p>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal Details
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Upload Document
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
      <mat-expansion-panel class="pad_none" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Coverage & Premium
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row ">
          <div *ngFor="let item of coverageDetailPreview" class="col-sm-4">
            <div class="labettext_css">{{item.label}}</div>
            <p class="valuetext_css">{{item.value}}</p>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="col-sm rightside_padnone">
    <app-img-holder></app-img-holder>
  </div>
</div>