<div class="top_pad">
  <div class="buyplan-line">
    <p>Dear *******, Add any of the below mentioned products and get 10% discount on your total premium</p>
  </div>
  <div class="row">
    <div class="col-md-2">
      <img src="../../../assets/img/home/MOTOR_INSURANCE.png">      
    </div>
    <div class="col-md-4">
      <p>How about covering yourself with Worldwide Accidental policy</p>
    </div>
    <div class="col-md-2">
      <img src="../../../assets/img/home/HOME_INSURANCE.png">      
    </div>
    <div class="col-md-4">
      <p>How about insuring your home with AFNIC Tenants Compensation Policy</p>
    </div>    
  </div>
  <div class="row">
    <div class="col-md-2">
      <img src="../../../assets/img/home/PERSONAL_ACCIDENT_INSURANCE.png">      
    </div>
    <div class="col-md-4">
      <p>How about insuring your home with AFNIC Tenants Compensation Policy</p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <button mat-flat-button class="btn_margin" (click)="skipContinue();">SKIP & CONTINUE</button>
    </div>
  </div>
</div>
