<!-- <label class="generate_textcss">Generated Quotes</label> -->
<!-- <div class="card">
  <table class="table table-borderless">
    <thead>
      <tr class="listhead_css">
        <th scope="col">Policy 1</th>
        <th scope="col">Cover Type</th>
        <th scope="col">Quote Date</th>
        <th scope="col">Premium</th>
      </tr>
    </thead>
    <tbody>
      <tr class="listquote_css">
        <td class="quoteno_css">Q-2018-000456</td>
        <td>Comprehensive</td>
        <td>09/01/2018</td>
        <td>AED 2,200</td>
      </tr>
    </tbody>
  </table>
  <div class="" *ngIf="!hideGeneratedQuotes">
    <p class="viewtext_css">VIEW DETAILS <span class="paymettext_css">MAKE PAYMENT</span></p>
  </div>
</div> -->
<div class="row">
  <div class="col-sm slide_topcss">
    <section class="section slider">

      <div class="section__entry section__entry--center">
      </div>

      <input type="radio" name="slider" id="slidermove" class="slider__radio">
     
      <div class="slider__holder">

        <label for="slidermove" class="slider__item slider__item--1 card">
          <div class="slider__item-content border_topcss">
            <p class=" insuran_idcss">P-2018-000777</p>
            <p class="insuran_typecss">Motor Comprehensive</p>
            <p class="date_css">10/08/2018 to 10/09/2018</p>
            <div class="row pad_topcss">
              <div class="col-sm pad_none">
                <a class="heading-3 link" routerLink="/mypolicypremium">View Details</a>
                
              </div>
              <div class="col-sm pad_none">
                <a class="heading-3 link" routerLink="/mypolicyrenew">Make Payment</a>
                
              </div>
            </div>

          </div>
        </label>
        
      </div>
    </section>
  </div>
</div>