.insurance-card {
  max-width: 238.21px;
  height: 398.43px;
  margin-left: 10px;
  display: inline-block;
  text-align: center;
  size: 21px;
  text-decoration: underline;
  font-family: 'Nunitosansextrabold';
}

.card-container {
  margin: 10px 10px;
  display: inline-block;
}

strong{
  size: 21px;
  text-decoration: underline;
}

.text-center{
  text-align: center !important;
}

.carousel-control-prev,.carousel-control-next {
  width: 20px;
}

::ng-deep .mat-card:nth-child(odd) {
  position: relative;
  bottom: 187px;
}

.card_allign{
  margin-left: 50px;  
}