<nav class="displayupcss" *ngIf="!isLogged && this.router.url==='/login'">
  <div class="header_login">
    <span class="header-menu-right">
      <a routerLink="/home" class="btn_home">HOME</a>
      <button class="lang_dropdown" color="primary" mat-button [matMenuTriggerFor]="usermenu">
        <span class="header-label"><img src="{{imageBind}}" class="btn_flag">{{languageBind}}</span>
        <mat-icon class="icon_align">arrow_drop_down</mat-icon>
      </button>
      <mat-menu #usermenu="matMenu" class="lang_dropdown">
        <button mat-menu-item class="add-new-menu-item"  *ngFor="let lang of languages" (click)="bindFlagData(lang);">
          <img src="{{lang.img}}" class="btn_flag">{{lang.viewValue}}</button>
      </mat-menu>
      <a class="btn_login">Login/Sign up</a>
      <img src="../../assets/img/login/contact.png" class="btn_img" routerLink="/login">
    </span>
  </div>
</nav>
<nav class="shadow displayupcss" *ngIf="!isLogged && this.router.url==='/home'">
  <mat-toolbar class="bg_header">
    <a routerLink="/home">
      <img class="logo_allign" src="../../assets/img/logo.png">
    </a>
    <span class="header-menu-right"></span>
    <a routerLink="/home" class="btn_home">HOME</a>
    <button class="lang_dropdown" color="primary" mat-button [matMenuTriggerFor]="usermenu">
      <span class="header-label">
        <img src="{{imageBind}}" class="btn_flag">{{languageBind}}</span>
      <mat-icon class="icon_align">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #usermenu="matMenu" class="lang_dropdown">
      <button mat-menu-item class="add-new-menu-item" *ngFor="let lang of languages" (click)="bindFlagData(lang);">
        <img src="{{lang.img}}" class="btn_flag">{{lang.viewValue}}</button>
    </mat-menu>
    <a routerLink="/login" class="btn_login">Login/Sign up</a>
    <img src="../../assets/img/login/contact.png" class="btn_img" routerLink="/login">
  </mat-toolbar>
</nav>
<!-- <nav class="shadow displayupcss" *ngIf="isLogged && this.router.url==='/home'">
  <mat-toolbar class="bg_header">
    <a routerLink="/home">
      <img class="logo_allign" src="../../assets/img/logo.png">
    </a>
    <span class="header-menu-right"></span>
    <a routerLink="/policy" class="btn_home">My Policy</a>
    <a routerLink="/claim-intimation" class="btn_home">Claim Intimation</a>

    <button class="lang_dropdown" color="primary" mat-button [matMenuTriggerFor]="usermenu">
      <span class="header-label">
        <img src="{{imageBind}}" class="btn_flag">{{languageBind}}</span>
      <mat-icon class="icon_align">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #usermenu="matMenu" class="lang_dropdown">
      <button mat-menu-item class="add-new-menu-item" *ngFor="let lang of languages" (click)="bindFlagData(lang);">
        <img src="{{lang.img}}" class="btn_flag">{{lang.viewValue}}</button>
    </mat-menu>

    <button class="lang_dropdown" color="primary" mat-button [matMenuTriggerFor]="profilemenu">
      <span class="header-label">
        <img src="{{imageBind}}" class="btn_flag">{{userBind}}</span>
      <mat-icon class="icon_align">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #profilemenu="matMenu" class="lang_dropdown">
      <button mat-menu-item class="add-new-menu-item" *ngFor="let menu of user" (click)="bindData(menu);">
        <img src="{{menu.img}}" class="btn_flag">{{menu.viewValue}}</button>
    </mat-menu>
    <a class="btn_login" *ngIf="router.url === '/login'" routerLink="/login">Login/Sign up</a>
    <img src="../../assets/img/login/contact.png" class="btn_img" >
  </mat-toolbar>
</nav> -->
<nav class="shadow displayupcss" *ngIf="isLogged && this.router.url==='/home' || isLogged && router.url === '/policy' || isLogged && router.url === '/profile' ||  isLogged && router.url === '/claim-intimation'">
  <mat-toolbar class="bg_header">
    <a routerLink="/policy">
      <img class="logo_allign" src="../../assets/img/logo.png">
    </a>
    <span class="header-menu-right"></span>
    <a routerLink="/policy" class="btn_home">My Policy</a>
    <a routerLink="/claim-intimation" class="btn_home">Claim Intimation</a>
    <button class="lang_dropdown" color="primary" mat-button [matMenuTriggerFor]="flagmenu">
      <span class="header-label">
        <img src="{{imageBind}}" class="btn_flag">{{languageBind}}</span>
      <mat-icon class="icon_align">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #flagmenu="matMenu" class="lang_dropdown">
      <button mat-menu-item class="add-new-menu-item" *ngFor="let lang of languages" (click)="bindFlagData(lang);">
        <img src="{{lang.img}}" class="btn_flag">{{lang.viewValue}}</button>
    </mat-menu>
    <button class="lang_dropdown" color="primary" mat-button [matMenuTriggerFor]="usermenu">
      <span class="header-label">
        <img src="../../assets/img/login/contact.png">Mr.Bismillah</span>
      <mat-icon class="icon_align1">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #usermenu="matMenu" class="lang_dropdown">
      <button mat-menu-item class="add-new-menu-item" *ngFor="let lst of details" (click)="bindData(lst);">
        <img src="{{lst.img}}" class="btn_profiles">{{lst.viewValue}}</button>
    </mat-menu>
    <img src="../../assets/img/login/contact.png" class="btn_img" routerLink="/policy">
  </mat-toolbar>
</nav>