
<div class="card mar_topcss">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-7">
        <div class="username_css">Ahmed Bismillah,
          <span class="address_css">Male, 29</span>
        </div>
        <div class="address_css">+971 545987899 |
          <span class="mail_css">veera.r@tvsnext.io</span>
        </div>
        <div class="address_css">Apmt#13, Port Chambly, Terre Rouge, Dubai</div>
      </div>
      <div class="col-sm-5 address_css">
        <div class="row">
          <div class="col-sm-5">Date of Birth</div>
          <span class="col-sm-7 pad_none">07/06/1989</span>

        </div>
        <div class="row">
          <div class="col-sm-5">Member ID</div>
          <span class="col-sm-7 pad_none">700-1000-3000000-0</span>

        </div>
        <div class="row">
          <div class="col-sm-5">Nationality</div>
          <span class="col-sm-7 pad_none">Bangadeshi</span>

        </div>
      </div>
    </div>
  </div>