<div class="row mar_none bg_color">
  <mat-card class="card_align">
    <div class="row row_mar">
      <div class="col-sm-3">
        <label class="lbl_cls">Member ID</label>
      </div>
      <div class="col-sm-9">
        <mat-form-field class="form_align padding_none" appearance="legacy">
          <input matInput type="text" value="700-1000-3000000-0">
          <mat-icon matSuffix>
            <img src="assets/img/home_icon/edit.png" class="icon_align">
          </mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <label class="lbl_cls">First Name</label>
      </div>
      <div class="col-sm-9">
        <mat-form-field class="form_align padding_none" appearance="legacy">
          <input matInput type="text" value="Ahmed">
        </mat-form-field>
      </div>
    </div>
  </mat-card>
  <mat-card>
    <div class="row row_mar">
      <div class="col-sm-3">
        <label class="lbl_cls">Member ID</label>
      </div>
      <div class="col-sm-9">
        <mat-form-field class="form_align padding_none" appearance="legacy">
          <input matInput type="text" value="700-1000-3000000-0">
          <mat-icon matSuffix>
            <img src="assets/img/home_icon/edit.png" class="icon_align">
          </mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <label class="lbl_cls">First Name</label>
      </div>
      <div class="col-sm-9">
        <mat-form-field class="form_align padding_none" appearance="legacy">
          <input matInput type="text" value="Ahmed">
        </mat-form-field>
      </div>
    </div>
  </mat-card>
  <mat-card>
    <div class="row row_mar">
      <div class="col-sm-3">
        <label class="lbl_cls">Member ID</label>
      </div>
      <div class="col-sm-9">
        <mat-form-field class="form_align padding_none" appearance="legacy">
          <input matInput type="text" value="700-1000-3000000-0">
          <mat-icon matSuffix>
            <img src="assets/img/home_icon/edit.png" class="icon_align">
          </mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <label class="lbl_cls">First Name</label>
      </div>
      <div class="col-sm-9">
        <mat-form-field class="form_align padding_none" appearance="legacy">
          <input matInput type="text" value="Ahmed">
        </mat-form-field>
      </div>
    </div>
  </mat-card>

</div>