<div class="container">
  <div class="align-center">
    <h4>Give you a peace of mind,</h4>
    <h4>for whatever the road take you</h4>
  </div>
  
  <mat-card class="quotes-card">
    <h4>Title of Product</h4>
    <img mat-card-image src="../../assets/img/cars1.jpg">
    <mat-card-content>
      <p>
        One Line Discription
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="notifyEvnt($event)">Get Quotes</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="quotes-card">
    <h4>Title of Product</h4>
    <img mat-card-image src="../../assets/img/cars1.jpg">
    <mat-card-content>
      <p>
        One Line Discription
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="notifyEvnt($event)">Get Quotes</button>
    </mat-card-actions>
  </mat-card>
  
</div>
