<mat-card>
  <mat-card-content>
    
    <mat-grid-list cols="2" rowHeight="100px;" class="text_alignleft">
      <mat-grid-tile class="text_alignleft">
          <div layout="row" flex>
        <div>Ahmed Bismillah, <span>Male, 29</span></div>
        <div>+971 545987899 | <span>veera.r@tvsnext.io</span></div> 
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="text_alignleft">
        <h4>Ahmed Bismillah,</h4><span>Male, 29</span>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
<div class="col-md">
  <p>sddgfyu</p>
</div>
