<div class="card mar_topcss">
  <table class="table table-borderless">
    <thead>
      <tr class="listhead_css">
        <th scope="col">Policy </th>
        <th scope="col">Cover Type</th>
        <th scope="col">Inception / Expiry Date</th>
        <th scope="col">Premium</th>
      </tr>
    </thead>
    <tbody>
      <tr class="listquote_css">
        <td class="quoteno_css">Q-2018-000456</td>
        <td>Comprehensive</td>
        <td>09/01/2018 - 20/10/2018</td>
        <td>AED 2,200</td>
      </tr>
    </tbody>
  </table>
</div>