.mar_topcss{
    margin-top: 10px;
}
.quoteno_css{
    color: #256C4A;
}
.listhead_css{
    font-family: 'Nunitosanssemibold';
    font-size: 15px;
    color: #5A5A5A;
}
.listquote_css{
    font-family: 'Nunitosanssemibold';
    font-size: 16px;
    color: #535353;
}