<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" mat-icon-button routerLink="/home">
        <mat-icon aria-label="Side nav toggle icon">LOGO</mat-icon>
      </button>
      <span class="header-menu-right"></span>
      <button mat-button routerLink="/home">HOME</button>
      <button mat-button routerLink="/claimintimation">CLAIM INTIMATION</button>
      <button mat-button routerLink="/contactus">CONTACT US</button>
      <button mat-button routerLink="/customerservice">CUSTOMER SERVICE</button>
      <button mat-button class="login-btn">
        LOG IN
      </button>
    </mat-toolbar>



    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
