<div class="row mar_none">
  <div class="col-sm">
    <app-img-holder></app-img-holder>
  </div>
  <div class="col-sm pad_none mar_topcss">
    <!-- <app-client-get-quotes *ngIf="!quoteSelected" (notifySelection)="handleNotify($event)"></app-client-get-quotes> -->

    <mat-horizontal-stepper [hidden]="quoteSelected" [linear]="false" #stepper>

      <mat-step *ngFor="let input of inputData; let i = index">
        <form [formGroup]="formgroup" (submit)="onSubmit(formgroup)">
          <h5 class="title_css">{{input.title}}</h5>
          <span>{{input.context}}</span>
          <br>
          <div *ngIf="input.label=='policy'" class="row">
            <mat-card class="policy-card col-md-3" *ngFor="let plan of input.plans; let i = index">
              <mat-card-header class="plan-card-header">
                <mat-card-title>{{plan.label}}</mat-card-title>
              </mat-card-header>
              <mat-card-content class="plan-card-content" (click)="displayPlanSummary(plan['plan_summary']['label'])">
                <div *ngIf="plan.star=='1'">
                  <mat-icon class="star-rating">star_rate</mat-icon>
                </div>
                <div *ngIf="plan.star=='2'">
                  <mat-icon class="star-rating">star_rate</mat-icon>
                  <mat-icon class="star-rating">star_rate</mat-icon>
                </div>
                <div *ngIf="plan.star=='3'">
                  <mat-icon class="star-rating">star_rate</mat-icon>
                  <mat-icon class="star-rating">star_rate</mat-icon>
                  <mat-icon class="star-rating">star_rate</mat-icon>
                </div>
                <label for="plan-currency">{{plan.currency}}</label> <br>
                <label for="plan-price">{{plan.price}}</label>
              </mat-card-content>
              <mat-card-footer class="plan-card-footer">
                <button class="plan-card-footer-btn" mat-button>COMPARE</button>
                <button class="plan-card-footer-btn" mat-button>BUY PLAN</button>
              </mat-card-footer>
            </mat-card>

            <div class="row col-md-12" *ngFor="let plan of input.plans; let i = index">
              <div *ngIf="plan['plan_summary']['label']==planLabel">
                <div>
                  <div class="col-md-12">
                    <label for="summary-plan-label">{{plan['plan_summary']['label']}}</label>
                  </div>
                  <div class="col-md-12">
                    <mat-list role="list">
                      <mat-list-item *ngFor="let coverage of plan['plan_summary']['coverages']; let i = index" role="listitem">*
                        {{coverage}}</mat-list-item>
                    </mat-list>
                  </div>
                </div>
                <div>
                  <div class="col-md-12">
                    <label for="summary-plan-label">{{plan['plan_summary']['optional_coverages']['label']}}</label>
                  </div>
                  <!-- <div class="col-md-12">
                    <mat-list role="list">
                      <mat-list-item *ngFor="let coverage of plan['plan_summary']['optional_coverages']['coverages']; let i = index" role="listitem">*
                        {{coverage}}</mat-list-item>
                    </mat-list>
                  </div> -->
                </div>

              </div>

            </div>
          </div>


          <div *ngFor="let field of input.inputs" style="display: inline-block;" [ngClass]="{'col-md-6':field.type!=='file','col-md-12': field.type==='file'}">

            <mat-form-field class="displayinput_css" *ngIf="field.type=='text' || field.type=='number'  ">
              <input matInput placeholder="{{field.key | translate}}" [formControlName]="field.label">
            </mat-form-field>

            <mat-form-field class="displayinput_css" *ngIf="field.type=='select'">
              <mat-select placeholder="{{field.key | translate}}" [formControlName]="field.label">
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="displayinput_css" *ngIf="field.type=='date'">
              <input matInput [matDatepicker]="picker" placeholder="{{field.key | translate}}">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-checkbox [(ngModel)]="field.isChecked" *ngIf="field.type=='checkbox'" [formControlName]="field.label">
              {{field.key | translate}}
            </mat-checkbox>

            <div *ngIf="field.type=='file'" class="displayinput_css">
              <div class="row">
                <input type="text" class="upload_input form-control col-md-8" placeholder="{{field.key | translate}}"
                  multiple>
                <!-- <button ma/t-button color="primary" class="col-md-2 attach_button" (click)="imgFileInput.click()"><mat-icon>attachment</mat-icon></button> -->
                <img src="../../assets/img/home/add_box.png" class="attach_button" (click)="imgFileInput.click()">
                <input hidden type="file" #imgFileInput (change)="previewImage($event)" />
              </div>
            </div>

            <div *ngFor="let driverField of field.driverDetails" [hidden]="!field.isChecked">
              <mat-form-field class="displayinput_css" *ngIf="driverField.type=='text' || driverField.type=='number'  ">
                <input matInput placeholder="{{driverField.key | translate}}" [formControlName]="driverField.label">
              </mat-form-field>
              <mat-form-field class="displayinput_css" *ngIf="driverField.type=='select'">
                <mat-select placeholder="{{driverField.key | translate}}" [formControlName]="driverField.label">
                  <mat-option value="option">Option</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="displayinput_css" *ngIf="driverField.type=='date'">
                <input matInput [matDatepicker]="picker" placeholder="{{driverField.key | translate}}">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <br>
          <div>
            <button mat-button matStepperPrevious mat-raised-button *ngIf="i" class="float-left buttoncolor_css">
              << {{inputData[i-1].title}} </button> <button mat-button *ngIf="i!==inputData.length-1" mat-raised-button
                matStepperNext class="float-right buttoncolor_css">{{inputData[i+1].title}} >>
            </button>
            <button mat-button *ngIf="i===inputData.length-1" mat-raised-button (click)="showDetails(formgroup)" class="float-right buttoncolor_css">Done</button>
            <!-- <button mat-button *ngIf="i===inputData.length-1" mat-raised-button type="submit" (click)="stepper.reset();quoteSelected=true;" >Done</button> -->
          </div>
        </form>

      </mat-step>
    </mat-horizontal-stepper>

    <app-quotes-detail [hidden]="!quoteSelected" (notifySelection)="handleNotify($event)" [summary]="summary"></app-quotes-detail>
  </div>
</div>
