.pad_none {
  /* padding-left: 0; */
  padding-right: 0;
}

.mar_none {
  margin-right: 0;
  margin-left: 0;
}

.img_aligncss {
  padding-right: 0;
}

.mar_topcss {
  margin-top: 10px;
}

.title_css {
  margin-top: 10px;
}

.displayinput_css {
  display: inline;
}

.buttoncolor_css {
  background-color: #45A175;
  color: #fff;
}

::ng-deep .buttoncolor_css.mat-button:hover {
  background-color: #45A175;
  color: #fff;
}

.background-right-dynamic {
  display: inline-block;
  width: 50%;
  margin-top: 18px;
  padding: 0 42px;
}

.img-holder {
  float: left;
  width: 40%;
  height: 600px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container>* {
  width: 100%;
}

.policy-card {
  margin-left: 40px;
}


::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

::ng-deep .mat-stepper-horizontal-line {
  border-top-width: 1px;
  border-top-style: solid !important;
  flex: auto;
  height: 0;
  margin: 0px 23px !important;
  min-width: 50px !important;
}

::ng-deep .mat-step-header {
  overflow: hidden;
  outline: 0;
  padding: 0px !important;
  width: 30px !important;
  cursor: auto !important;
  position: relative;
  box-sizing: content-box;
  -webkit-tap-highlight-color: transparent;
}

.form-input-right {
  width: 70%;
}

.attach_button {
  margin-left: 5px;
}

::ng-deep .mat-button:hover {
  background-color: transparent;
}

.upload_input {
  width: 388px;
  height: 68px;
  background-image: url(../../assets/img/home/upload.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-left: 25px;
}

.row {
  margin-bottom: 15px;
}

::placeholder {
  font-style: Nunitosansbold;
  font-size: 17px;
}

.coverage-plans-list,
.opt-coverage-plans-list {
  font-size: 13px;
}

.plan-header {
  background-color: #154979;
  height: 30%;
  color: #FFFFFF;
  font-size: 15px;
}

.plan-label {
  text-align: center;
  top: 10px;
  position: relative;
}

.star-rating,
.plan-star,
.plan-currency-price {
  text-align: center;
}

.star-rating,
.plan-body {
  color: #6E6B6B;
}

.opt-coverage-plans-list,
.coverage-plans-list {
  color: #5C5C5C;
  font-style: Nunitosansbold;
}

.layout-box {
  border: 1px solid #B5D5F2;
}

.plan-details-section {
  margin-left: 40px;
  padding-right: 0px;
  padding-left: 0px;
}

.plan-card-footer-btn {
  font-size: 12px;
}

.horizontal-line {
  border: 1px solid #B5D5F2;
}

.plan-buy-compare {
  width: 100%;
}

.compare-plan,
.buy-plan {
  width: 50%;
  text-align: -webkit-right;
  font-size: 12px;
}

.policy-plans-active {
  background-color: #154979;
  color: #FFFFFF;
  border: none;
}

a {
  cursor: pointer;
}
