.background-left-dynamic {
  background-position: 45% 63%;
  background-size: cover;
  display: inline-block;
  width: 43%;
  height: 400px;
}

.background-right-dynamic {
  display: inline-block;
  position: absolute;
  width: 50%;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container>* {
  width: 100%;
}

::ng-deep .mat-stepper-horizontal-line {
  border-top-width: 1px;
  border-top-style: solid !important;
  flex: auto;
  height: 0;
  margin: 0px 23px !important;
  min-width: 50px !important;
}

::ng-deep .mat-step-header {
  overflow: hidden;
  outline: 0;
  padding: 0px !important;
  width: 30px !important;
  cursor: auto !important;
  position: relative;
  box-sizing: content-box;
  -webkit-tap-highlight-color: transparent;
}

.form-input-right {
  width: 70%;
}
